Repository nhost/cli, pull requests merged in 2022-11, with the labels that each got.

#428 chore: bump hasura storage
  nhost/compose/config.go
Labels: chore

#435 chore: bump nhost/functions to v0.1.8
  nhost/compose/config.go
Labels: chore

#438 chore: bump storage to 0.3.0
  nhost/compose/config.go
Labels: chore

#455 Bump hasura to 2.15.2
  nhost/compose/config.go
Labels: auto-merge

#452 Use nhost dashboard
  README.md
  cmd/contact.go
  cmd/dev.go
  cmd/dev_test.go
  internal/ports/default.go
  internal/ports/ports.go
  internal/ports/ports_test.go
  nhost/compose/config.go
  nhost/compose/config_test.go
  nhost/service/endpoints.go
  nhost/service/manager.go
Labels: feature

#454 fix: add 'aarch64' to 'arch' matching
  get.sh
Labels: fix
