Repository nhost/cli, pull requests merged in 2022-08, with the labels that each got.

#285 Fix permission issue that may occur for .nhost/project_name file
  cmd/compose.go
  cmd/dev.go
  cmd/logs.go
  cmd/root.go
  nhost/utils.go
Labels: auto-merge, fix

#287 Bump nhost/functions to 0.0.4
  nhost/compose/config.go
Labels: auto-merge

#286 feat: allow user to specify the path to look for/download hasura binary
  cmd/dev.go
  cmd/init.go
  flake.lock
  flake.nix
  hasura/client.go
  hasura/hasura.go
Labels: feature

#293 Lowercase the project name
  nhost/utils.go
Labels: auto-merge, fix

#294 Added --start-timeout flag with default value of 5 minutes
  cmd/dev.go
  nhost/service/launcher.go
Labels: auto-merge

#295 Bump functions docker image to 0.1.1
  cmd/dev.go
  nhost/compose/config.go
  nhost/service/manager.go
Labels: auto-merge

#306 Bump nhost/functions to 0.1.2
  nhost/compose/config.go
Labels: auto-merge

#318 Bump hasura-storage and fix presigned url issue
  nhost/compose/config.go
Labels: auto-merge, fix

#314 fix: permission issue with seeds.applied file
  cmd/compose.go
  cmd/dev.go
  cmd/logs.go
  nhost/compose/config.go
  nhost/compose/paths.go
  nhost/compose/paths_test.go
  nhost/compose/wrapper.go
  nhost/service/manager.go
Labels: auto-merge, fix
