Repository nhost/cli, pull requests merged in 2023-06, with the labels that each got.

#706 fix: use abspath for docker volumes
  dockercompose/docker.go
Labels: fix

#708 chore: fix typo
  cmd/dev/up.go
Labels: chore

#711 Fix: typo
  cmd/project/list.go
Labels: fix

#713 feat: allow specifying subdomain when working with remote environments
  clienv/wf_app_info.go
  cmd/config/config.go
  cmd/config/pull.go
  cmd/config/show.go
  cmd/config/validate.go
  cmd/config/validate_test.go
  cmd/dev/up.go
  cmd/project/init.go
  cmd/secrets/create.go
  cmd/secrets/delete.go
  cmd/secrets/list.go
  cmd/secrets/secrets.go
  cmd/secrets/update.go
Labels: feature

#717 feat: download metadata after starting services
  cmd/dev/up.go
Labels: feature

#721 feat: update schema to support more providers
  dockercompose/auth_test.go
  flake.lock
  go.mod
  go.sum
  nix/overlay.nix
  vendor/github.com/nhost/be/services/mimir/schema/appconfig/hasura_auth.go
  vendor/modules.txt
Labels: feature

#722 chore: bump nhost/dashboard to 0.17.8
  dockercompose/compose.go
Labels: chore

#723 feat: allow pulling config without overwriting secrets
  cmd/config/pull.go
  cmd/project/init.go
Labels: feature

#714 feat: added support for configuration overlays
  clienv/filesystem.go
  clienv/wf_app_info.go
  cmd/config/config.go
  cmd/config/edit.go
  cmd/config/testdata/validate/success/nhost/overlays/local.json
  cmd/config/testdata/validate/success/nhost/overlays/local.yaml
  cmd/config/validate.go
  examples/myproject/.gitignore
  examples/myproject/nhost/migrations/default/1684245719099_insert_into_public_animals/down.sql
  examples/myproject/nhost/migrations/default/1684245719099_insert_into_public_animals/up.sql
  examples/myproject/nhost/migrations/default/1684245726321_insert_into_public_animals/down.sql
  examples/myproject/nhost/migrations/default/1684245726321_insert_into_public_animals/up.sql
  examples/myproject/nhost/nhost.toml
  examples/myproject/nhost/overlays/cxxrcsncmoqeqmgggpio.json
  examples/myproject/nhost/overlays/local.json
  examples/myproject/nhost/overlays/local.yaml
  examples/myproject/nhost/seeds/default/1685692310174_some-initial-data.sql
  examples/myproject/nhost/seeds/default/1_start.sql
  go.mod
  go.sum
  vendor/github.com/mattbaird/jsonpatch/.gitignore
  vendor/github.com/mattbaird/jsonpatch/LICENSE
  vendor/github.com/mattbaird/jsonpatch/README.md
  vendor/github.com/mattbaird/jsonpatch/jsonpatch.go
  vendor/github.com/pelletier/go-toml/v2/ci.sh
  vendor/github.com/pelletier/go-toml/v2/marshaler.go
  vendor/github.com/pelletier/go-toml/v2/unmarshaler.go
  vendor/github.com/pelletier/go-toml/v2/unstable/parser.go
  vendor/github.com/pelletier/go-toml/v2/unstable/scanner.go
  vendor/modules.txt
Labels: feature

#716 feat: allow exposing containers directly if needed
  cmd/dev/up.go
  dockercompose/auth.go
  dockercompose/auth_test.go
  dockercompose/compose.go
  dockercompose/graphql.go
  dockercompose/graphql_test.go
  dockercompose/storage.go
  dockercompose/storage_test.go
Labels: feature

#725 chore: bump nhost/dashboard to 0.17.9
  dockercompose/compose.go
Labels: chore

#726 chore: bump nhost/dashboard to 0.17.18
  dockercompose/compose.go
Labels: chore
