Repository nhost/cli, pull requests merged in 2023-01, with the labels that each got.

#515 chore: bump nhost/dashboard to 0.7.13
  nhost/compose/config.go
  nhost/compose/config_test.go
Labels: chore

#519 chore: update postgres version
  nhost/compose/config.go
Labels: chore

#518 chore: bump nhost/dashboard to 0.8.0
  nhost/compose/config.go
  nhost/compose/config_test.go
Labels: chore

#521 chore: bump nhost/dashboard to 0.9.6
  nhost/compose/config.go
  nhost/compose/config_test.go
Labels: chore

#537 chore: bump nhost/dashboard to 0.9.7
  nhost/compose/config.go
  nhost/compose/config_test.go
Labels: chore

#539 chore: bump nhost/dashboard to 0.9.8
  nhost/compose/config.go
  nhost/compose/config_test.go
Labels: chore

#541 chore: bump nhost/dashboard to 0.9.9
  nhost/compose/config.go
  nhost/compose/config_test.go
Labels: chore

#546 fix: Use the new hasura endpoint when initializing remote project
  cmd/init.go
  nhost/types.go
Labels: fix

#551 chore: bump nhost/dashboard to 0.9.10
  nhost/compose/config.go
  nhost/compose/config_test.go
Labels: chore

#556 fix: Change default value of "hasura_graphql_enable_remote_schema_permissions"
  nhost/nhost.go
Labels: auto-merge, fix

#562 chore: bump nhost/dashboard to 0.10.1
  nhost/compose/config.go
  nhost/compose/config_test.go
Labels: chore
