Repository nhost/cli, pull requests merged in 2023-09, with the labels that each got.

#769 feat: allow running functions in node18
  cmd/dev/up.go
  dockercompose/compose.go
  examples/myproject/functions/echo.ts
  examples/myproject/nhost/nhost.toml
  examples/myproject/pnpm-lock.yaml
Labels: feature

#770 chore: fixes to CI
  dockercompose/graphql.go
  dockercompose/graphql_test.go
  flake.lock
  flake.nix
  go.mod
  nix/overlay.nix
Labels: chore

#772 fix: add newline when appending to gitignore
  cmd/project/init.go
Labels: fix

#774 chore: added codeql
  .github/workflows/codeql-analysis.yml
Labels: chore

#765 chore: bump nhost/dashboard to 0.20.17
  dockercompose/compose.go
Labels: chore

#773 fix: proxy hasura's rest endpoints
  dockercompose/graphql.go
  dockercompose/graphql_test.go
  examples/myproject/nhost/metadata/allow_list.yaml
  examples/myproject/nhost/metadata/query_collections.yaml
  examples/myproject/nhost/metadata/rest_endpoints.yaml
Labels: fix

#775 fix: add elipsis for consistency
  cmd/dev/up.go
  cmd/project/init.go
Labels: fix

#779 fix: set correct /api/ endpoint
  dockercompose/graphql.go
  dockercompose/graphql_test.go
  examples/myproject/nhost/metadata/databases/default/tables/public_animals.yaml
Labels: fix

#776 chore: example: added architecture
  examples/myproject/functions/echo.ts
  examples/myproject/nhost/metadata/databases/default/tables/storage_virus.yaml
  examples/myproject/nhost/metadata/databases/default/tables/tables.yaml
  examples/myproject/nhost/nhost.toml
Labels: chore

#783 fix: schema: update schema with minor fixes to postgres settings
  cmd/config/example.go
  go.mod
  go.sum
  vendor/github.com/nhost/be/services/mimir/model/cuegraph_gen.go
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/github.com/nhost/be/services/mimir/schema/schema_gen.graphqls
  vendor/modules.txt
Labels: fix
