Repository nhost/cli, pull requests merged in 2023-10, with the labels that each got.

#784 chore: bump nhost/dashboard to 0.20.20
  dockercompose/compose.go
Labels: chore

#781 feat: node18 is now mandatory
  cmd/config/example.go
  cmd/config/testdata/validate/success/nhost/nhost.toml
  cmd/config/validate_test.go
  cmd/dev/up.go
  dockercompose/compose.go
  dockercompose/main_test.go
  examples/myproject/nhost/nhost.toml
  go.mod
  go.sum
  vendor/github.com/nhost/be/services/mimir/model/cuegraph_gen.go
  vendor/github.com/nhost/be/services/mimir/schema/appconfig/config.go
  vendor/github.com/nhost/be/services/mimir/schema/appconfig/postgres.go
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/github.com/nhost/be/services/mimir/schema/schema_gen.graphqls
  vendor/modules.txt
Labels: feature

#785 chore: bump nhost/dashboard to 0.20.25
  dockercompose/compose.go
Labels: chore

#788 fix: allow uppercase in project name
  clienv/clienv.go
Labels: fix

#793 fix: update schema
  go.mod
  go.sum
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/github.com/nhost/be/services/mimir/schema/schema_gen.graphqls
  vendor/modules.txt
Labels: fix

#795 fix: add security context to postgres volume
  dockercompose/postgres.go
  dockercompose/postgres_test.go
Labels: fix

#794 chore: bump nhost/dashboard to 0.20.26
  dockercompose/compose.go
Labels: chore

#796 chore: bump nhost/dashboard to 0.20.27
  dockercompose/compose.go
Labels: chore

#797 feat: migrate postgres data to a docker volume for compatibility
  clienv/clienv.go
  clienv/flags.go
  cmd/config/validate_test.go
  cmd/dev/down.go
  cmd/dev/up.go
  cmd/dockercredentials/get.go
  dockercompose/compose.go
  dockercompose/dockercompose.go
  dockercompose/postgres.go
  dockercompose/postgres_test.go
Labels: feature
