Repository nhost/cli, pull requests merged in 2023-07, with the labels that each got.

#733 chore: bump nhost/dashboard to 0.17.20
  dockercompose/compose.go
Labels: chore

#736 fix: treat secrets like a toml to simplify parsing and support special characters
  cmd/config/testdata/validate/success/.secrets
  cmd/config/validate.go
  project/env/marshal.go
  project/env/marshal_test.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/ignore.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/struct_filter.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/modules.txt
Labels: fix

#738 chore: bump nhost/dashboard to 0.19.0
  dockercompose/compose.go
Labels: chore

#742 chore: bump go to 1.20.6 due to GO-2023-1878
  nix/overlay.nix
Labels: chore

#740 fix:Add upper case verification for cli prompts
  cmd/config/pull.go
  cmd/dev/up.go
Labels: fix

#743 feat: added functionality to interact with nhost's registry
  clienv/wf_login.go
  clienv/wf_session.go
  cmd/dockercredentials/configure.go
  cmd/dockercredentials/docker.go
  cmd/dockercredentials/erase.go
  cmd/dockercredentials/get.go
  cmd/dockercredentials/store.go
  cmd/user/login.go
  main.go
Labels: feature

#744 fix: added --no-interactive flag to docker-credentials configure
  cmd/dockercredentials/configure.go
Labels: fix

#747 fix: typo when creating docker credentials
  cmd/dockercredentials/configure.go
Labels: fix

#739 chore: bump nhost/dashboard to 0.20.2
  dockercompose/compose.go
Labels: chore
