Repository nhost/cli, pull requests merged in 2023-05, with the labels that each got.

#663 chore: add probot-stale
  .github/stale.yml
Labels: chore

#668 chore: get rid of /v2 package
  clienv/clienv.go
  clienv/wf_app_info.go
  clienv/wf_session.go
  cmd/config/pull.go
  cmd/config/validate.go
  cmd/dev/compose.go
  cmd/dev/down.go
  cmd/dev/hasura.go
  cmd/dev/logs.go
  cmd/dev/up.go
  cmd/project/init.go
  cmd/project/link.go
  cmd/project/list.go
  cmd/secrets/create.go
  cmd/secrets/delete.go
  cmd/secrets/list.go
  cmd/secrets/update.go
  cmd/software/upgrade.go
  cmd/software/version.go
  dockercompose/compose.go
  dockercompose/docker.go
  dockercompose/dockercompose.go
  dockercompose/ingress.go
  nhostclient/auth.go
  nhostclient/credentials/credentials.go
  nhostclient/credentials/session.go
  nhostclient/graphql/client_gen.go
  nhostclient/graphql/creds.go
  nhostclient/graphql/models_gen.go
  nhostclient/graphql/query/apps.graphql
  nhostclient/graphql/query/config.graphql
  nhostclient/graphql/query/pat.graphql
  nhostclient/graphql/query/secrets.graphql
  nhostclient/nhostclient.go
  nhostclient/request.go
  nhostclient/request_test.go
  nhostclient/retryer.go
  nhostclient/retryer_test.go
  project/config.go
  project/env/marshal.go
  project/env/marshal_test.go
  project/project.go
  project/secrets.go
  software/github.go
  software/sofware.go
  system/gitignore.go
  system/system.go
  v2/system/filesystem.go
Labels: chore

#669 feat: allow using .env.development to override defined env vars
  clienv/filesystem.go
  cmd/dev/up.go
  cmd/project/init.go
  dockercompose/compose.go
Labels: feature

#670 fix: project name dynamic and get rid functions folder
  clienv/clienv.go
  clienv/filesystem.go
  clienv/flags.go
  cmd/dev/compose.go
  cmd/dev/down.go
  cmd/dev/logs.go
  cmd/dev/up.go
  cmd/project/init.go
  dockercompose/compose.go
Labels: fix

#672 chore: bump nhost/dashboard to 0.16.11
  dockercompose/compose.go
Labels: chore

#673 chore: improvements to ci
  .github/.kodiak.toml
  .github/dependabot.yml
  .github/workflows/assign_labels.yml
  .github/workflows/checks.yaml
  .github/workflows/push.yml
  .github/workflows/release.yaml
  .github/workflows/release_drafter.yml
  .github/workflows/wf_build_artifacts.yaml
  .github/workflows/wf_check.yaml
  .gitignore
  .goreleaser.yml
  Makefile
  VERSION
  cmd/dev/up.go
  flake.lock
  flake.nix
  nix/overlay.nix
Labels: chore

#676 chore: update schema
  examples/myproject/nhost/nhost.toml
  go.mod
  go.sum
  project/config.go
  project/secrets.go
  vendor/github.com/99designs/gqlgen/graphql/version.go
  vendor/github.com/nhost/be/services/mimir/model/cuegraph_gen.go
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/github.com/nhost/be/services/mimir/schema/schema.graphqls
  vendor/github.com/nhost/be/services/mimir/schema/schema_gen.graphqls
  vendor/golang.org/x/crypto/curve25519/curve25519.go
  vendor/golang.org/x/crypto/curve25519/curve25519_compat.go
  vendor/golang.org/x/crypto/curve25519/curve25519_go120.go
  vendor/golang.org/x/crypto/ssh/agent/server.go
  vendor/golang.org/x/crypto/ssh/connection.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/token.go
  vendor/golang.org/x/tools/internal/gcimporter/iexport.go
  vendor/golang.org/x/tools/internal/gcimporter/iimport.go
  vendor/golang.org/x/tools/internal/tokeninternal/tokeninternal.go
  vendor/modules.txt
Labels: chore

#678 feat: update mimir to support all settings
  .github/cert.sh
  cmd/dev/compose.go
  cmd/dev/up.go
  dockercompose/auth.go
  dockercompose/auth_test.go
  dockercompose/compose.go
  dockercompose/docker.go
  dockercompose/dockercompose.go
  dockercompose/graphql.go
  dockercompose/graphql_test.go
  dockercompose/main_test.go
  dockercompose/postgres.go
  dockercompose/postgres_test.go
  dockercompose/storage.go
  dockercompose/storage_test.go
  dockercompose/url.go
  flake.nix
  go.mod
  go.sum
  vendor/github.com/nhost/be/services/mimir/schema/appconfig/common.go
  vendor/github.com/nhost/be/services/mimir/schema/appconfig/hasura.go
  vendor/github.com/nhost/be/services/mimir/schema/appconfig/hasura_auth.go
  vendor/github.com/nhost/be/services/mimir/schema/appconfig/hasura_storage.go
  vendor/github.com/nhost/be/services/mimir/schema/appconfig/postgres.go
  vendor/modules.txt
Labels: feature

#684 fix: set urls in the functions container correctly
  dockercompose/compose.go
Labels: fix

#685 fix: update functions image so watching files works
  dockercompose/compose.go
Labels: fix

#683 feat: use nhost organization for hasura images
  dockercompose/graphql.go
  dockercompose/graphql_test.go
Labels: feature

#681 fix: use "subdomain" for database as in production
  cmd/dev/up.go
  dockercompose/auth.go
  dockercompose/auth_test.go
  dockercompose/compose.go
  dockercompose/graphql.go
  dockercompose/graphql_test.go
  dockercompose/postgres.go
  dockercompose/postgres_test.go
  dockercompose/storage.go
  dockercompose/storage_test.go
Labels: fix

#682 chore: bump nhost/dashboard to 0.16.12
  dockercompose/compose.go
Labels: chore

#686 chore: bump nhost/dashboard to 0.16.13
  dockercompose/compose.go
Labels: chore

#687 chore: bump nhost/dashboard to 0.16.14
  dockercompose/compose.go
Labels: chore

#689 chore: fix certs weekly build
  .github/cert.sh
  dockercompose/graphql.go
  dockercompose/graphql_test.go
Labels: chore

#690 chore: update schema
  go.mod
  go.sum
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/modules.txt
Labels: chore

#691 chore: bump nhost/dashboard to 0.17.0
  dockercompose/compose.go
Labels: chore

#693 fix: call init --remote properly
  clienv/clienv.go
  clienv/wf_app_info.go
  clienv/wf_link.go
  clienv/wf_login.go
  clienv/wf_session.go
  cmd/config/pull.go
  cmd/config/validate.go
  cmd/project/init.go
  cmd/project/link.go
  cmd/secrets/create.go
  cmd/secrets/delete.go
  cmd/secrets/list.go
  cmd/secrets/update.go
  cmd/user/login.go
  dockercompose/dockercompose.go
Labels: fix

#694 feat: added nhost dev up --apply-seeds option
  cmd/dev/up.go
  dockercompose/dockercompose.go
  examples/myproject/nhost/nhost.toml
  examples/myproject/nhost/seeds/default/1_start.sql
Labels: feature

#696 chore: bump nhost/dashboard to 0.17.1
  dockercompose/compose.go
Labels: chore

#698 fix: update hints to new command structure
  clienv/wf_app_info.go
  cmd/dev/up.go
  cmd/project/init.go
Labels: fix

#700 fix: use relative paths to avoid issues with mounted volumes
  clienv/clienv.go
  clienv/filesystem.go
  clienv/flags.go
  cmd/config/validate_test.go
  cmd/dev/compose.go
  cmd/dev/down.go
  cmd/dev/logs.go
  cmd/dev/up.go
  dockercompose/compose.go
  dockercompose/dockercompose.go
Labels: fix

#701 fix: use provided version explicitly
  get.sh
Labels: fix

#702 fix: add .nhost to .gitignore
  cmd/project/init.go
Labels: fix

#703 fix: use version command correctly
  get.sh
Labels: fix

#705 fix: increase timeout when starting functions
  dockercompose/auth.go
  dockercompose/auth_test.go
  dockercompose/compose.go
  dockercompose/graphql.go
  dockercompose/graphql_test.go
  dockercompose/postgres.go
  dockercompose/postgres_test.go
Labels: fix

#704 chore: bump nhost/dashboard to 0.17.2
  dockercompose/compose.go
Labels: chore
