Repository nhost/cli, pull requests merged in 2023-11, with the labels that each got.

#800 feat: added support to auth >= 0.22.0
  dockercompose/auth.go
  dockercompose/auth_test.go
  dockercompose/main_test.go
  go.mod
  go.sum
  vendor/github.com/99designs/gqlgen/graphql/version.go
  vendor/github.com/cloudflare/circl/ecc/goldilocks/twist.go
  vendor/github.com/cloudflare/circl/internal/sha3/keccakf.go
  vendor/github.com/cloudflare/circl/internal/sha3/sha3.go
  vendor/github.com/cloudflare/circl/internal/sha3/shake.go
  vendor/github.com/cloudflare/circl/math/primes.go
  vendor/github.com/cloudflare/circl/sign/ed25519/ed25519.go
  vendor/github.com/google/uuid/CHANGELOG.md
  vendor/github.com/google/uuid/CONTRIBUTING.md
  vendor/github.com/google/uuid/uuid.go
  vendor/github.com/mattn/go-isatty/isatty_bsd.go
  vendor/github.com/mattn/go-isatty/isatty_others.go
  vendor/github.com/mattn/go-isatty/isatty_tcgets.go
  vendor/github.com/nhost/be/services/mimir/schema/appconfig/hasura_auth.go
  vendor/github.com/nhost/be/services/mimir/schema/appconfig/versions.go
  vendor/google.golang.org/grpc/README.md
  vendor/google.golang.org/grpc/attributes/attributes.go
  vendor/google.golang.org/grpc/balancer/balancer.go
  vendor/google.golang.org/grpc/balancer/grpclb/grpclb.go
  vendor/google.golang.org/grpc/balancer/grpclb/grpclb_picker.go
  vendor/google.golang.org/grpc/balancer/grpclb/grpclb_remote_balancer.go
  vendor/google.golang.org/grpc/balancer/grpclb/grpclb_util.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/encoding/encoding.go
  vendor/google.golang.org/grpc/internal/backoff/backoff.go
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/status/status.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/resolver/manual/manual.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/tap/tap.go
  vendor/google.golang.org/grpc/version.go
  vendor/google.golang.org/grpc/vet.sh
  vendor/modules.txt
Labels: feature

#803 fix: added support for signupDisabled
  cmd/config/example.go
  cmd/config/validate_test.go
  dockercompose/auth_test.go
  dockercompose/main_test.go
  go.mod
  go.sum
  nix/overlay.nix
  vendor/github.com/nhost/be/services/mimir/model/cuegraph_gen.go
  vendor/github.com/nhost/be/services/mimir/schema/appconfig/hasura_auth.go
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/github.com/nhost/be/services/mimir/schema/schema_gen.graphqls
  vendor/modules.txt
Labels: fix

#804 fix: regenerate graphql bindings and fix pipeline to verify them
  .github/workflows/checks.yaml
  .github/workflows/wf_check.yaml
  Makefile
  clienv/wf_login.go
  flake.nix
  get_access_token.sh
  gqlgenc.yaml
  nhostclient/auth.go
  nhostclient/credentials/credentials.go
  nhostclient/graphql/client_gen.go
  nhostclient/graphql/creds.go
  nhostclient/graphql/models_gen.go
Labels: fix

#801 chore: bump nhost/dashboard to 0.20.28
  dockercompose/compose.go
Labels: chore

#805 feat: allow overriding dashboard version
  cmd/dev/up.go
  dockercompose/compose.go
  nhostclient/graphql/models_gen.go
Labels: feature

#807 feat: add support for webauthn rp id
  cmd/config/example.go
  dockercompose/auth_test.go
  dockercompose/main_test.go
  go.mod
  go.sum
  nhostclient/graphql/models_gen.go
  vendor/github.com/nhost/be/services/mimir/model/cuegraph_gen.go
  vendor/github.com/nhost/be/services/mimir/schema/appconfig/hasura_auth.go
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/github.com/nhost/be/services/mimir/schema/schema_gen.graphqls
  vendor/modules.txt
Labels: feature
