Repository nhost/cli, pull requests merged in 2024-04, with the labels that each got.

#851 chore: update schema
  cmd/config/example.go
  cmd/dev/up.go
  dockercompose/compose.go
  dockercompose/main_test.go
  go.mod
  go.sum
  nhostclient/graphql/models_gen.go
  vendor/github.com/nhost/be/services/mimir/graph/generated/generated.go
  vendor/github.com/nhost/be/services/mimir/model/cuegraph_gen.go
  vendor/github.com/nhost/be/services/mimir/schema/appconfig/hasura.go
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/github.com/nhost/be/services/mimir/schema/schema_gen.graphqls
  vendor/modules.txt
Labels: chore

#848 chore: bump nhost/dashboard to 1.12.0
  cmd/dev/up.go
Labels: chore

#853 feat: send verification email if user isn't verified
  clienv/wf_login.go
  flake.lock
  go.mod
  go.sum
  nhostclient/auth.go
  nhostclient/nhostclient.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/pipe.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/testsync.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/modules.txt
Labels: feature

#852 chore: bump nhost/dashboard to 1.12.1
  cmd/dev/up.go
Labels: chore

#850 chore: change cors library for the config server
  cmd/configserver/configserver.go
  go.mod
  go.sum
  vendor/github.com/gin-contrib/cors/.gitignore
  vendor/github.com/gin-contrib/cors/.golangci.yml
  vendor/github.com/gin-contrib/cors/.goreleaser.yaml
  vendor/github.com/gin-contrib/cors/README.md
  vendor/github.com/gin-contrib/cors/config.go
  vendor/github.com/gin-contrib/cors/cors.go
  vendor/github.com/gin-contrib/cors/utils.go
  vendor/github.com/rs/cors/LICENSE
  vendor/github.com/rs/cors/README.md
  vendor/github.com/rs/cors/cors.go
  vendor/github.com/rs/cors/utils.go
  vendor/github.com/rs/cors/wrapper/gin/LICENSE
  vendor/github.com/rs/cors/wrapper/gin/gin.go
  vendor/modules.txt
Labels: chore

#856 feat: configserver: use filepaths to avoid disconnected fds
  cmd/configserver/configserver.go
  cmd/configserver/local.go
  cmd/configserver/local_test.go
  dockercompose/compose.go
  dockercompose/configserver.go
Labels: feature

#854 chore: bump nhost/dashboard to 1.12.2
  cmd/dev/up.go
Labels: chore

#858 chore: update schema
  cmd/config/example.go
  cmd/configserver/local_test.go
  dockercompose/main_test.go
  go.mod
  go.sum
  nhostclient/graphql/models_gen.go
  vendor/github.com/nhost/be/services/mimir/graph/generated/generated.go
  vendor/github.com/nhost/be/services/mimir/model/cuegraph_gen.go
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/github.com/nhost/be/services/mimir/schema/schema_gen.graphqls
  vendor/modules.txt
Labels: chore

#857 fix: add a warning message if migrations/metadata not found
  cmd/dev/up.go
Labels: fix

#861 chore: bump nhost/dashboard to 1.13.2
  cmd/dev/up.go
Labels: chore

#864 fix: restart AI service to reapply metadata
  cmd/dev/up.go
Labels: fix

#865 chore: bump nhost/dashboard to 1.13.3
  cmd/dev/up.go
Labels: chore

#866 fix: don't remove `v` from the version
  Makefile
  software/sofware.go
Labels: fix

#867 fix: detect latest version of the CLI
  cmd/software/version.go
Labels: fix
