Repository nhost/cli, pull requests merged in 2024-01, with the labels that each got.

#812 chore: bump nhost/dashboard to 1.3.2
  cmd/dev/up.go
  nhostclient/graphql/client_gen.go
Labels: chore

#814 feat: reimplement login mechanism to support github
  clienv/wf_login.go
  cmd/dockercredentials/get.go
  cmd/user/login.go
  nhostclient/auth.go
  nhostclient/graphql/client_gen.go
  nhostclient/graphql/models_gen.go
Labels: feature

#815 chore: bump nhost/dashboard to 1.4.0
  cmd/dev/up.go
Labels: chore

#817 chore: replace nix code with standardized nixops
  .golangci.yaml
  Makefile
  cmd/dockercredentials/configure.go
  dockercompose/compose.go
  flake.lock
  flake.nix
  get_access_token.sh
  nhostclient/graphql/client_gen.go
  nhostclient/graphql/models_gen.go
  nix/overlay.nix
  system/gitignore.go
Labels: chore

#819 fix: simplify getting nhost client
  clienv/clienv.go
  clienv/wf_app_info.go
  clienv/wf_link.go
  clienv/wf_login.go
  clienv/wf_session.go
  cmd/config/pull.go
  cmd/config/validate.go
  cmd/project/init.go
  cmd/project/list.go
  cmd/run/config_deploy.go
  cmd/run/config_pull.go
  cmd/run/config_validate.go
  cmd/secrets/create.go
  cmd/secrets/delete.go
  cmd/secrets/list.go
  cmd/secrets/update.go
  examples/myproject/nhost/nhost.toml
  nhostclient/nhostclient.go
Labels: fix

#818 feat: added support to run Run services
  cmd/dev/up.go
  dockercompose/compose.go
  dockercompose/dockercompose.go
  dockercompose/run.go
  dockercompose/run_test.go
  examples/mysvc/nhost/overlays/run-mysvc.json
Labels: feature

#825 chore: fix dev cert.sh to include mailhog
  cert.sh
Labels: chore
