Repository nhost/cli, pull requests merged in 2024-10, with the labels that each got.

#910 chore: bump nhost/dashboard to 2.0.7
  cmd/dev/up.go
Labels: chore, Enhancement, Review effort [1-5]: 1

#918 chore: update certs
  .github/workflows/gen_schedule_update_deps.yaml
  ssl/.ssl/local-fullchain.pem
  ssl/.ssl/local-privkey.pem
  ssl/.ssl/sub-fullchain.pem
  ssl/.ssl/sub-privkey.pem
Labels: chore

#919 feat: added organizations support
  clienv/wf_app_info.go
  clienv/wf_link.go
  cmd/config/pull.go
  cmd/project/list.go
  nhostclient/graphql/client_gen.go
  nhostclient/graphql/creds.go
  nhostclient/graphql/models_gen.go
  nhostclient/graphql/query/apps.graphql
Labels: feature

#920 chore: bump nhost/dashboard to 2.1.0
  cmd/dev/up.go
Labels: chore
