Repository nhost/cli, pull requests merged in 2024-08, with the labels that each got.

#891 chore: bump nhost/dashboard to 1.25.0
  cmd/dev/up.go
Labels: chore, Enhancement, Review effort [1-5]: 1

#894 feat: magicdns support
  .github/cert.sh
  .github/workflows/build-cert-weekly.yaml.disabled
  .github/workflows/wf_build_artifacts.yaml
  cert.sh
  clienv/wf_login.go
  cmd/dev/up.go
  dockercompose/auth.go
  dockercompose/auth_test.go
  dockercompose/compose.go
  dockercompose/configserver.go
  dockercompose/graphql.go
  dockercompose/graphql_test.go
  dockercompose/storage.go
  dockercompose/storage_test.go
  dockercompose/url.go
  flake.nix
  ssl/.ssl/fullchain.pem
  ssl/.ssl/local-fullchain.pem
  ssl/.ssl/local-privkey.pem
  ssl/.ssl/privkey.pem
  ssl/.ssl/sub-fullchain.pem
  ssl/.ssl/sub-privkey.pem
  ssl/cert.go
Labels: feature

#895 chore: restore actions/upload-artifact@v4 as workaround isn't needed
  .github/workflows/wf_build_artifacts.yaml
  .github/workflows/wf_check.yaml
  .github/workflows/wf_publish.yaml
Labels: chore

#896 feat: allow selecting local subdomain
  clienv/clienv.go
  clienv/flags.go
  cmd/config/validate_test.go
  cmd/dev/hasura.go
  cmd/dev/up.go
  cmd/dockercredentials/get.go
  dockercompose/ai.go
  dockercompose/ai_test.go
  dockercompose/auth.go
  dockercompose/auth_test.go
  dockercompose/compose.go
  dockercompose/docker.go
  dockercompose/graphql.go
  dockercompose/graphql_test.go
  dockercompose/postgres.go
  dockercompose/postgres_test.go
  dockercompose/run.go
  dockercompose/run_test.go
  dockercompose/storage.go
  dockercompose/storage_test.go
  dockercompose/url.go
  nhostclient/graphql/models_gen.go
Labels: feature

#897 fix: hasura wrapper was missing local subdomain under some conditions
  cmd/dev/up.go
  cmd/project/init.go
  nhostclient/graphql/models_gen.go
Labels: fix

#899 fix: set correct extraHosts for the console
  dockercompose/graphql.go
  dockercompose/graphql_test.go
Labels: fix

#900 fix: set env vars correctly according to new subdomain/region scheme
  dockercompose/ai_test.go
  dockercompose/auth_test.go
  dockercompose/compose.go
  dockercompose/graphql.go
  dockercompose/graphql_test.go
  dockercompose/postgres_test.go
  dockercompose/run_test.go
  dockercompose/storage_test.go
Labels: fix

#901 fix: dont overwrite old host entry for the console
  dockercompose/graphql.go
Labels: fix

#898 chore: udpate schema with rate-limiting functionality
  cmd/config/example.go
  cmd/config/validate_test.go
  dockercompose/auth.go
  dockercompose/auth_test.go
  dockercompose/main_test.go
  go.mod
  go.sum
  vendor/github.com/nhost/be/services/mimir/graph/generated/generated.go
  vendor/github.com/nhost/be/services/mimir/graph/m_change_database_version.go
  vendor/github.com/nhost/be/services/mimir/model/cuegraph_gen.go
  vendor/github.com/nhost/be/services/mimir/schema/appconfig/hasura_auth.go
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/github.com/nhost/be/services/mimir/schema/schema_gen.graphqls
  vendor/modules.txt
Labels: chore

#902 feat: udpate schema
  cmd/config/example.go
  cmd/config/validate_test.go
  cmd/run/config_example.go
  dockercompose/ai.go
  dockercompose/ai_test.go
  dockercompose/auth_test.go
  dockercompose/main_test.go
  dockercompose/run_test.go
  go.mod
  go.sum
  vendor/github.com/nhost/be/services/mimir/graph/generated/generated.go
  vendor/github.com/nhost/be/services/mimir/model/cuegraph_gen.go
  vendor/github.com/nhost/be/services/mimir/schema/appconfig/ai.go
  vendor/github.com/nhost/be/services/mimir/schema/appconfig/hasura_auth.go
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/github.com/nhost/be/services/mimir/schema/schema_gen.graphqls
  vendor/modules.txt
Labels: feature

#903 chore: bump nhost/dashboard to 1.27.0
  cmd/dev/up.go
  go.mod
  go.sum
  nhostclient/graphql/models_gen.go
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/modules.txt
Labels: chore

#905 feat: added option to override CA certificates
  cmd/dev/up.go
  dockercompose/compose.go
Labels: feature
