Repository nhost/cli, pull requests merged in 2024-06, with the labels that each got.

#883 fix: don't require login for running nhost up
  clienv/clienv.go
  clienv/wf_link.go
  cmd/project/init.go
  cmd/project/list.go
  cmd/software/version.go
  flake.lock
  nhostclient/graphql/client_gen.go
  nhostclient/graphql/models_gen.go
  nhostclient/graphql/query/apps.graphql
Labels: fix

#885 fix: cfgserver: set minimum required syscfg
  cmd/configserver/local.go
  cmd/configserver/local_test.go
Labels: fix

#887 fix: functions: don't start if functions folder not present and update image
  clienv/filesystem.go
  cmd/dev/up.go
  cmd/project/init.go
  cmd/project/templates/init/.gitignore
  cmd/project/templates/init/functions/package-lock.json
  cmd/project/templates/init/functions/package.json
  dockercompose/compose.go
  dockercompose/graphql.go
  dockercompose/graphql_test.go
  examples/myproject/functions/package-lock.json
  examples/myproject/functions/package.json
  examples/myproject/pnpm-lock.yaml
  flake.nix
Labels: fix

#889 feat: added support for nodejs 20 alongside nodejs 18
  cmd/config/example.go
  cmd/run/config_example.go
  dockercompose/compose.go
  dockercompose/main_test.go
  dockercompose/run_test.go
  examples/myproject/nhost/nhost.toml
  go.mod
  go.sum
  nhostclient/graphql/models_gen.go
  vendor/github.com/nhost/be/services/mimir/graph/generated/generated.go
  vendor/github.com/nhost/be/services/mimir/graph/m_replace_config_raw_json.go
  vendor/github.com/nhost/be/services/mimir/graph/schema.resolvers.go
  vendor/github.com/nhost/be/services/mimir/model/cuegraph_gen.go
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/github.com/nhost/be/services/mimir/schema/schema.graphqls
  vendor/github.com/nhost/be/services/mimir/schema/schema_gen.graphqls
  vendor/modules.txt
Labels: dependencies, feature, Enhancement, Review effort [1-5]: 3, Bug fix

#890 feat: added pnpm support
  dockercompose/compose.go
  examples/myproject/functions/package-lock.json
  examples/myproject/functions/package.json
  examples/myproject/functions/pnpm-lock.yaml
  examples/myproject/functions/tsconfig.json
  examples/myproject/nhost/nhost.toml
  examples/myproject/nhost/overlays/local.json
  nhostclient/graphql/models_gen.go
Labels: dependencies, feature, Enhancement, Review effort [1-5]: 3, configuration changes

#868 chore: bump nhost/dashboard to 1.19.0
  cmd/dev/up.go
Labels: chore, Enhancement, Review effort [1-5]: 1
