Repository nhost/cli, pull requests merged in 2024-12, with the labels that each got.

#925 chore: update certs
  nhostclient/graphql/models_gen.go
  ssl/.ssl/local-fullchain.pem
  ssl/.ssl/local-privkey.pem
  ssl/.ssl/sub-fullchain.pem
  ssl/.ssl/sub-privkey.pem
Labels: chore, Review effort [1-5]: 2

#927 fix: look for projects in organizations
  clienv/wf_app_info.go
  nhostclient/graphql/models_gen.go
Labels: fix, Review effort [1-5]: 2

#929 feat: manage deployments
  cmd/deployments/deployments.go
  cmd/deployments/list.go
  cmd/deployments/logs.go
  cmd/deployments/new.go
  main.go
  nhostclient/graphql/client_gen.go
  nhostclient/graphql/query/deployments.graphql
Labels: feature, Review effort [1-5]: 4

#930 fix: set the correct variable
  dockercompose/ai.go
  dockercompose/ai_test.go
Labels: fix, Review effort [1-5]: 2

#924 chore: bump nhost/dashboard to 2.9.0
  cmd/dev/up.go
Labels: chore, Review effort [1-5]: 1

#931 chore: bump nhost/dashboard to 2.10.0
  cmd/dev/up.go
Labels: chore, Review effort [1-5]: 1

#933 fix: update URLs
  clienv/clienv.go
  clienv/flags.go
  clienv/wf_login.go
  clienv/wf_session.go
  cmd/config/validate_test.go
  cmd/dockercredentials/get.go
  cmd/project/init.go
  get_access_token.sh
  gqlgenc.yaml
  nhostclient/graphql/models_gen.go
  nhostclient/nhostclient.go
Labels: fix, Review effort [1-5]: 3
