Repository nhost/cli, pull requests merged in 2025-05, with the labels that each got.

#954 chore: bump nhost/dashboard to 2.28.0
  cmd/dev/up.go
Labels: chore, Review effort 1/5

#961 chore: bump nhost/dashboard to 2.29.0
  cmd/dev/up.go
  nhostclient/graphql/models_gen.go
Labels: chore, Review effort 1/5

#962 chore: update schema and certs
  .github/workflows/gen_ai_review.yaml
  .github/workflows/wf_build_artifacts.yaml
  .github/workflows/wf_check.yaml
  go.mod
  go.sum
  nhostclient/graphql/models_gen.go
  ssl/.ssl/local-fullchain.pem
  ssl/.ssl/local-privkey.pem
  ssl/.ssl/sub-fullchain.pem
  ssl/.ssl/sub-privkey.pem
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/modules.txt
Labels: chore, Review effort 2/5

#963 fix: make linter happy
  dockercompose/compose.go
Labels: fix, Review effort 2/5
