Repository nhost/cli, pull requests merged in 2025-01, with the labels that each got.

#937 chore: update pr-agent to 0.26
  .github/workflows/gen_ai_review.yaml
  nhostclient/graphql/models_gen.go
Labels: chore, Review effort [1-5]: 1

#939 chore: update schema
  go.mod
  go.sum
  nhostclient/graphql/models_gen.go
  vendor/github.com/nhost/be/services/mimir/graph/generated/generated.go
  vendor/github.com/nhost/be/services/mimir/graph/m_insert_run_service_config.go
  vendor/github.com/nhost/be/services/mimir/graph/schema.resolvers.go
  vendor/github.com/nhost/be/services/mimir/model/models_gen.go
  vendor/github.com/nhost/be/services/mimir/nhost/models.go
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/github.com/nhost/be/services/mimir/schema/schema.graphqls
  vendor/modules.txt
Labels: chore, Review effort [1-5]: 1

#934 chore: bump nhost/dashboard to 2.13.0
  cmd/dev/up.go
Labels: chore, Review effort [1-5]: 1

#941 feat: added support for nodejs22
  dockercompose/compose.go
  examples/myproject/functions/crash.ts
  examples/myproject/functions/error.ts
  examples/myproject/nhost/nhost.toml
  go.mod
  go.sum
  vendor/github.com/nhost/be/services/mimir/schema/appconfig/hasura_storage.go
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/modules.txt
Labels: feature, Review effort [1-5]: 2

#940 chore: bump nhost/dashboard to 2.15.0
  cmd/dev/up.go
Labels: chore, Review effort [1-5]: 1

#943 chore: bump nhost/dashboard to 2.16.0
  cmd/dev/up.go
Labels: chore, Review effort [1-5]: 1

#944 chore: bump nhost/dashboard to 2.17.0
  cmd/dev/up.go
Labels: chore, Review effort [1-5]: 1

#945 chore: disable CGO using new mechanism
  flake.nix
Labels: chore, Review effort [1-5]: 2
