Repository nhost/cli, pull requests merged in 2025-02, with the labels that each got.

#946 chore: update schema
  cmd/config/testdata/validate/success/nhost/nhost.toml
  cmd/config/validate_test.go
  examples/myproject/nhost/nhost.toml
  flake.lock
  flake.nix
  go.mod
  go.sum
  nhostclient/graphql/models_gen.go
  project/config.go
  vendor/github.com/goccy/go-json/internal/runtime/type.go
  vendor/github.com/nhost/be/services/mimir/graph/generated/generated.go
  vendor/github.com/nhost/be/services/mimir/graph/schema.resolvers.go
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/github.com/nhost/be/services/mimir/schema/schema_gen.graphqls
  vendor/github.com/vektah/gqlparser/v2/readme.md
  vendor/github.com/vektah/gqlparser/v2/validator/prelude.graphql
  vendor/github.com/vektah/gqlparser/v2/validator/rules/max_introspection_depth.go
  vendor/github.com/vektah/gqlparser/v2/validator/rules/values_of_correct_type.go
  vendor/github.com/vektah/gqlparser/v2/validator/schema.go
  vendor/gopkg.in/evanphx/json-patch.v5/README.md
  vendor/gopkg.in/evanphx/json-patch.v5/patch.go
  vendor/modules.txt
Labels: chore, Review effort [1-5]: 2

#948 chore: update schema
  cmd/config/example.go
  cmd/config/validate_test.go
  dockercompose/main_test.go
  flake.lock
  go.mod
  go.sum
  nhostclient/graphql/models_gen.go
  project/config.go
  vendor/github.com/nhost/be/services/mimir/graph/generated/generated.go
  vendor/github.com/nhost/be/services/mimir/model/cuegraph_gen.go
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/github.com/nhost/be/services/mimir/schema/schema_gen.graphqls
  vendor/modules.txt
Labels: chore

#947 chore: bump nhost/dashboard to 2.20.0
  cmd/dev/up.go
Labels: chore, Review effort [1-5]: 1
